:host{
    display: block;
    height: 100vh;
    overflow: auto;
}

.container{
    background: rgb(61, 61, 61);
    padding: 10px;
    color: white;
}

.list-movies {
    background: rgb(70, 70, 70);;
    list-style: none;
    padding: 5px;
    text-decoration: none;
}

.list-movies p{
    font-family: Arial;
    font-size: 24px;
    font-style: oblique;
    margin: 0 auto;
}

.poster-img{
    height: auto;
    width: auto;
}

.search-model{
    text-align: center;
}

.moviecontent{
    align-items: center;
    display: flex;
}
.images-class img{
    height: auto;
    width: 30px;
    border-radius: 20%;
}