<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<div class="container">
    <div class="input-group">
        <input #searchbar class="search-model" [(ngModel)]="strSearch" type="text" class="form-control" />
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
        </span>
    </div>
    <br>
    <ul>
        <li class="list-movies" #moviecontent *ngFor="let m of (movies)">
            <div class="moviecontent" [routerLink]="['/movie-details', m.imdbID]">
                <img class="poster-img" [src]="m?.Poster">
                <p>{{ m.Title }}</p>
                <div class="images-class">
                    <img src="https://www.materialui.co/materialIcons/av/movie_white_192x192.png" *ngIf="m.Type == 'movie'">
                    <img src="https://i.imgur.com/nhycq4a.png" *ngIf="m.Type == 'series'">
                    <img src="https://lh3.googleusercontent.com/proxy/fj6EPIRRV4uMcpknur9G9sceIhXlBp88WqB2ouSCANGmqA_IfoN-mIvLuHBPHDpjYMI7aexxllf_oNyG9FeBGa_hArjIzD_HbWP4whx6i8y_PLEAVw" *ngIf="m.Type == 'episode'">
                    <img src="https://pluspng.com/img-png/game-png-black-and-white-this-free-icons-png-design-of-game-controller-outline-white-2-2400.png" *ngIf="m.Type == 'game'">
                </div>
            </div>

            <hr>
        </li>
    </ul>
</div>