:host{
    display: block;
    height: 100vh;
    overflow: auto;
}

.container{
    background: #E2E2E2;
    padding: 10px;
}

.poster-img{
    height: auto;
    width: auto;
}

input{
    text-align: center;
}

li{
    background: #B0B0B0;
    list-style: none;
    padding: 5px;
    text-decoration: none;
}

li p{
    font-family: Arial;
    font-size: 24px;
    font-style: oblique;
    margin: 0 auto;

}

.moviecontent{
    align-items: center;
    display: flex;
}



